<mat-list class="app-lef-nav">

  <a mat-list-item class="app-mat-list-item" (click)="navigateTo('/customers')">
    <mat-icon matListIcon>group</mat-icon>
    <h3 matLine> Customer </h3>
    <p matLine>
      <span> Lorem ipsum </span>
      <span class="demo-2">Dolor imet</span>
    </p>
  </a>

  <a mat-list-item class="app-mat-list-item" (click)="navigateTo('/customers')">
    <mat-icon matListIcon>storefront</mat-icon>
    <h3 matLine> Inventory </h3>
    <p matLine>
      <span> Lorem ipsum </span>
      <span class="demo-2">Dolor imet</span>
    </p>
  </a>

  <a mat-list-item class="app-mat-list-item" (click)="navigateTo('/customers')">
    <mat-icon matListIcon>shopping_cart</mat-icon>
    <h3 matLine> Orders </h3>
    <p matLine>
      <span> Lorem ipsum </span>
      <span class="demo-2">Dolor imet</span>
    </p>
  </a>
  </mat-list>