body {
    margin:0px;
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}



.justify-center {
    justify-content: center;
}

.margin-auto {
    margin: auto
}
.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}
.margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.dashboard-count {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 100vh;
}