<h1>Customers Create</h1>

<br><br>

<div class="app-form-container">
  <mat-form-field floatLabel [hideRequiredMarker]="false">
    <input matInput required placeholder="First name">
    <mat-error></mat-error>
  </mat-form-field>

  <mat-form-field floatLabel [hideRequiredMarker]="false">
    <input matInput placeholder="Middle name">
    <mat-error></mat-error>
  </mat-form-field>

  <mat-form-field floatLabel [hideRequiredMarker]="false">
    <input matInput required placeholder="Last name">
    <mat-error></mat-error>
  </mat-form-field>
</div>